{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<header>
<h1><a href="{{ SITEURL }}" id="site-title">{# {{ SITENAME }} #} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> {#:#}
        <a href="{{ SITEURL }}/{{ page.url }}" id="page-title">{{ page.title }}</a></h1>
</header>
{% if page and not page.home %}
<div id="back">
  <a href="{{ SITEURL }}">Return to Launch Page</a>
</div>
{% endif %}
<article>
    {{ page.content }}
</article>


{% endblock %}
